

.testimonial {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-details {
  flex: 1;
}

.testimonial-details h3 {
  margin: 0 0 3px;
  font-size: 14px;
}

.ratings {
  color: gold;
  margin-bottom: 5px;
}

.ratings span {
  font-size: 16px;
}

.testimonial-details p {
  margin: 0;
  font-size: 12px;
}
